body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(assets/matrix.gif);
}

.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
  max-width: 400px;
}

input[type="number"],
input[type="text"] {
  width: 90%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 10px 0;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

button:hover {
  background: #0056b3;
}

body {
    transition: background 0.3s, color 0.3s;
}

body.dark {
    background-color: #121212;
    color: #ffffff;
}

body.light {
    background-color: #f4f4f4;
    color: #000000;
}

.container {
    background: white;
    transition: background 0.3s, color 0.3s;
}

body.dark .container {
    background: #1e1e1e;
    color: #ffffff;
}

#theme-toggle {
    position: fixed;
    top: 10px;
    width: 100px;
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}

#theme-toggle:hover {
    background: #0056b3;
}

@media (max-width: 480px) {
  .container {
    width: 95%;
  }
}
